name: Alpha build
on:
  pull_request:
    types: [ opened, synchronize, reopened ]
  workflow_dispatch:

jobs:
  build:
    name: Build binary
    runs-on: ${{ matrix.os }}
    strategy:
      matrix:
        os: [ubuntu-latest, macos-latest, windows-latest]
    steps:
      - uses: actions/cache@v5
        with:
          path: |
            ~/.cache/go-build
            ~/go/pkg/mod
          key: ${{ runner.os }}-go-${{ hashFiles('**/go.sum') }}
          restore-keys: |
            ${{ runner.os }}-go-

      - name: Set up Go
        uses: actions/setup-go@v6
        with:
          go-version: '^1.23'

      - name: Check out code
        uses: actions/checkout@v6

      - name: Install deps
        run: make deps

      - name: Test
        run: make test

      - name: Generate documentation
        run: make gen-docs

      - name: Build
        run: make build-all

      - name: Documentation files to build directory
        run: |
          cp README.md build/
          mv docs build/docs
        shell: bash

      - uses: actions/upload-artifact@v6
        with:
          name: artifacts-${{ matrix.os }}
          path: build