name: Alpha build
on:
  pull_request:
    types: [ opened, synchronize, reopened ]

jobs:
  build:
    name: Build binary
    runs-on: ubuntu-latest
    steps:
      - uses: actions/cache@v2
        with:
          path: ~/go/pkg/mod
          key: ${{ runner.os }}-go-${{ hashFiles('**/go.sum') }}
          restore-keys: |
            ${{ runner.os }}-go-

      - name: Set up Go
        uses: actions/setup-go@v4
        with:
          go-version: '^1.21'

      - name: Check out code
        uses: actions/checkout@v2

      - name: Install deps
        run: make deps

      - name: Test
        run: make test

      - name: Build
        run: make build-all

      - name: Readme
        run: cp README.md build/

      - uses: actions/upload-artifact@v1
        with:
          name: artifacts
          path: build