name: Build release

on:
  push:
    tags:
      - 'v[0-9]+.[0-9]+.[0-9]+'

permissions:
  contents: write
  pages: write
  id-token: write

jobs:
  build:
    name: Build binary
    runs-on: ubuntu-latest
    steps:
      - uses: actions/cache@v4
        with:
          path: ~/go/pkg/mod
          key: ${{ runner.os }}-go-${{ hashFiles('**/go.sum') }}
          restore-keys: |
            ${{ runner.os }}-go-

      - name: Set up Go
        uses: actions/setup-go@v6
        with:
          go-version: '^1.23'

      - uses: actions/checkout@v4
        with:
          ref: main
          fetch-depth: 0

      - name: Fetch all tags
        run: git fetch --force --tags

      - name: Setup Pages
        uses: actions/configure-pages@v5

      - name: Import GPG key
        id: import_gpg
        uses: crazy-max/ghaction-import-gpg@v6
        with:
          gpg_private_key: ${{ secrets.APT_SECRET_KEY }}

      - name: Release
        uses: goreleaser/goreleaser-action@v6
        with:
          version: latest
          args: release --clean --config .goreleaser.yaml
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
          GPG_FINGERPRINT: ${{ steps.import_gpg.outputs.fingerprint }}

      - run: |
          chmod +x ./script/*.sh

      - name: Update APT Release files
        env:
          GPG_FINGERPRINT: ${{ steps.import_gpg.outputs.fingerprint }}
        run: |
          git pull
          ./script/apt.sh

      - name: Update site files
        run: |
          ./script/site.sh

      - uses: baileyjm02/markdown-to-pdf@v1
        with:
          input_dir: out/
          output_dir: site/
          theme: website/extends.css
          extend_default_theme: true
          template: website/template.html
          build_html: true
          build_pdf: false

      - name: Upload Pages artifact
        uses: actions/upload-pages-artifact@v3
        with:
          name: github-pages
          path: site

  deploy:
    environment:
      name: github-pages
      url: ${{ steps.deployment.outputs.page_url }}
    runs-on: ubuntu-latest
    needs: build
    steps:
      - name: Deploy to GitHub Pages
        id: deployment
        uses: actions/deploy-pages@v4